@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh; /* Always cover the full viewport height */
    margin: 0; /* Removes any default margin */
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
